* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: $fontRoboto;
}
p {
  margin: 0.5rem 0 0.25rem;
}
ul {
  li {
    list-style: none;
  }
}
section {
  padding: 4.375rem 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}
.text-primary {
  color: $primaryColor;
}
.text-secondary {
  color: $secondaryColor;
}

.section-title {
  font-size: 2.25rem;
}
.btn {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease-out;
  &-primary {
    background-color: $accentColor;
  }
  &:hover {
    transform: scale(1.1);
  }
}
.bg {
  &-primary {
    background-color: #2b2e4a;
  }
  &-secondary {
    background-color: $secondaryColor;
  }
  &-danger {
    background-color: $accentColor;
  }
}
